.detail-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
  color: #666;
}

mat-chip {
  margin: 0 !important;
}

.status-open {
  background-color: #fff3cd;
  color: #856404;
}

.status-in\ progress {
  background-color: #cfe2ff;
  color: #084298;
}

.status-closed {
  background-color: #d1e7dd;
  color: #0f5132;
}